.landing {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(/assets/scalableVectorGraphics/landingPage/BYIU.svg);
}
